<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appenders>
		<Console name="console" target="SYSTEM_OUT" follow="true">
			<PatternLayout pattern="%-20(%d{yyyy-MM-dd HH:mm:ss.SSS} [Thread]) %-5level %logger{80} - %msg%n">

			</PatternLayout>
		</Console>
	</appenders>

	<loggers>
		<root level="DEBUG">
			<appender-ref ref="console">
			</appender-ref>
		</root>
        <!-- 将业务dao接口填写进去,并用控制台输出即可 -->
        <logger name="mapper" level="DEBUG" additivity="false">
            <appender-ref ref="console"/>
        </logger>
    </loggers>
</configuration>

